{% load staticfiles %}
<link rel="stylesheet" href="{% static 'recruit/css/bootstrap.min.css' %}" type="text/css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h2>BITS ACM Recruitment App</h2>


{% if recruit_list %}
<ul>
    {%for recruit in recruit_list%}
    <li><a href="{% url 'recruit:detail' recruit.id%}">{{recruit.name}}</a></li>
    {%endfor%}
</ul>
{%else%}
<p>No recruits are added yet!</p>
{%endif%}
<row>
<form action="/recruit/add/">
    <input type="submit" value="Add Recruit" style="width: 150px;"/>
</form>
<form action="/recruit/exist/">
    <input type="submit" value="Existing Recruit" style="width: 150px;"/>
</form>
</row>
